.bovenkant{

}
body{
    background-image: url(/assets/tree.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

header{
    text-align: center;
    background-color: transparent;
    backdrop-filter: blur(10px);
    margin: 0;
    top: 0;
    position: absolute;
    width: 100%;
}

section{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.congrats{
    display: flex;
    height: fit-content;
    color: lightgrey;
    margin-top:10%;
    background-color: rgba(0, 0, 0, 0.619);
    backdrop-filter: blur(10px);
    padding: 2%;
    margin-right: auto;
    width: 30%;
}

.overlay {
    display: block; /* Initially hide the overlay */
    position: fixed; /* Fixed position covering the entire viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    z-index: 999; /* Ensure it's on top of other elements */
    text-align: center;
    padding-top: 20%; /* Adjust this value to center content vertically */
}

.overlay button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}