.bovenkant{

}
body{
    background-image: url(/assets/tree.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

header{
    text-align: center;
    background-color: transparent;
    backdrop-filter: blur(10px);
    margin: 0;
    top: 0;
    position: absolute;
    width: 100%;
}

section{
    display: flex;
    flex-direction: row;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.619);
    backdrop-filter: blur(10px);
    margin-top: 20vh;
}

.congrats{
    display: flex;

    color: lightgrey;
    margin: 1%;
    width: 30%;
}

.overlay {
    display: block;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 999; 
    text-align: center;
    padding-top: 20%;
    backdrop-filter: blur(2px);
}

.overlay button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form{
    color: white;
    text-align: center;
    margin-top: 2%;
    width: 100%;
}
footer{
    right: 0;
    width: 100%;
    position: absolute;
        display: grid;
        grid-template-columns: 33%  33%  33%;
    margin-top: 20%; 
    background-color: rgba(0, 0, 0, 0.452);
    backdrop-filter: blur(10px);
    color: white;
    bottom: 0;
    text-align: center;
    height: fit-content;
    margin-top: 5%;
}
 #y{
grid-column: 1;
color: white;
 }

 #yo{
grid-column: 2;
color: white;
 }

 #yoo{
grid-column: 3;
color: white;
 }

 .fa-brands{
color: white;
font-size: 200%;
padding: 2%;
 }

 .fa-solid{
    color: white;
    font-size: 200%;
    padding: 2%;
 }
 ul{
    list-style-type: none;
    
 }

 #knolpower{
    margin-top: 12%;
 }
img{
    width: 600px;
    height: 300px;
    align-self: center;
    justify-self: center;
    margin-left: 10%;
}