:root {
  --txt-primary: #535353;
  --txt-hover: #292929;
  --background: #f7f7f7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", cursive;
  color: var(--txt-primary);
  background-color: var(--background);
  margin: 0;
}

body.game-started img {
  filter: drop-shadow(0 0 1px red);
}

.container {
  margin-bottom: 45vh;
  display: flex;
  position: relative;
  width: 600px;
  height: 200px;
  overflow: hidden;
}

.no-connection {
  position: absolute;
  top: 40%;
  left: 0;
  margin-left: 30vw;
  font-family: "Arial", sans-serif;
  color: #616161;
  padding: 10px;
}

.no-connection h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.no-connection p2 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.no-connection ul {
  list-style-type: disc;
  padding-left: 2.5vw;
}

.game {
  position: relative;
  width: 600px;
  height: 200px;
  overflow: hidden;
}

.score {
  position: absolute;
  right: 5vmin;
  top: 1vmin;
  font-size: 0.8rem;
}

.start-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  text-align: center;
  text-transform: uppercase;
}

.gameover-message {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  text-align: center;
  text-transform: uppercase;
}

.gameover-message p {
  letter-spacing: 0.5em;
}

.gameover-message span {
  font-size: 0.6rem;
  text-transform: none;
}

.ground {
  --left: 0;
  width: 300%;
  position: absolute;
  bottom: 0;
  left: calc(var(--left) * 1%);
}

.dino {
  --bottom: 0;
  height: 30%;
  position: absolute;
  left: 1%;
  bottom: calc(var(--bottom) * 1%);
}

.cactus {
  height: 30%;
  position: absolute;
  bottom: 0;
  left: calc(var(--left) * 1%);
}

.hide {
  display: none;
}
